.banner__container{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.banner__image{
    max-width: 100%;
    height: 500px;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.banner__layer{
    background-image: linear-gradient(0deg, #1a1a1a, transparent);
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner__layer:hover{
    background-image: linear-gradient(0deg, #301f49, transparent);
}

.banner__text-container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: inherit;
}

@media screen and (max-width: 1199px){

    .banner__image{
        height: 200px;
        object-position: center 68%;
    }

    .banner__layer{
        height: 200px;
    }

    .banner__icon,
    .banner__cta{
        padding: 16px;
    }
}

@media screen and (min-width: 1200px){
    .banner__image{
        object-position: center 65%;
    }

    .banner__layer{
        height: 500px;
    }

    .banner__icon,
    .banner__cta{
        padding: 24px;
    }
}